<% include ./partials/header %>


<div class="logo col-md-12">
    <img alt="Minimal Clean Responsive" height="220px; " id="logo" src="http://2.bp.blogspot.com/-X06cj7cX0X8/VQ7IoUng9cI/AAAAAAAAEhM/2TNeAsAsTV8/s1600/MINIMAL-LOGO-NEW.png" width="420px;" class="center-block img-responsive">
</div>

<div class="gallery container col-md-offset-1 col-md-10">
          <% photos.forEach(function(photo){ %>
               <div class="article">
                   <div class="photos col-md-6 col-sm-12">
                      <img src="/uploads/<%= photo.mainImageName %>" alt="<%= photo.mainImageName %>" class='image img-responsive' >               
                   </div>
                </div> 
           <% }); %>          
</div>







<% include ./partials/footer %>