<% include ./partials/header %>


<div class="container">	
	<header class="jumbotron">
		<div class="container">
       
			<h1> Welcome to Chaitas Modal </h1>
			<p>This a mainly app </p>
			    
			<p>
            <% if(currentUser) { %>
			    <p>Hello <%= currentUser.local.username %></p>
			 <% } %>				

				<a class="btn btn-primary btn-large"href="#">Start a new Test</a>
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<h3>Test</h3>
			
			<% if(currentUser) { %>
				<p>Hello <%= currentUser.local.username %></p>
				
            <% } %>
		</div>
	</div>
	
</div>

<% include ./partials/footer %>