.logo{
    border-bottom: 1px solid gray;
}

.article{
    text-align: center;
}


.category p{
    height:16px;
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    color: #aaa;
    font-family: 'Bad Script', cursive; 
}
.title a{
    text-align: center;
    text-decoration: none;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
};

.title a:hover {

    opacity: 0.50;
}

.date{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    margin-right: 5px;
    font-size: 11px;
    font-family: Lora;
}

.body{
    text-align: justify;
    color: #777;
    font-family: Lora;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0px;
    text-transform: none;
}


.text-center {
    text-align: center;
}

.image{
    float: left;
    margin-bottom: 18px;
    width: 770px;
    height:444px;

}
.image:hover{
    opacity: 0.8;
}


.readMoreBtn {
    margin-top: 10px;
    margin-bottom: 30px;
}

.rightBarWidget{
    margin-top: 50px;
    width: 320px;
    margin-right: 0;
    float: none;
    margin-bottom: 30px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34,34,34,0.1);
}


.sumCategories, .sumMonths{
    color: #646464;
    list-style-type:none;
    margin-bottom: 7px;
    padding-bottom: 7px;
    font-family: Lora;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0px;
    text-transform: none;
}

.side-image, ..side-text{
    display:inline
}

.side-image{
        float: left;
    margin-right: 14px;
}

.side-image img{
    width: 86px;
    height: 86px;
}

.side-title{
    font-family: Raleway;
    font-weight: normal;
    margin-bottom: 1px;
    color: #333;
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

.side-date{
    margin-top:15px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #999;
    font-style: italic;
    font-family: "Open Sans";
}

.rightBartitle{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: -10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titlePost{
    display: inline-block;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #fff;
}

.aboutMeImg img{
    height:240px;
    width:240px;
    border-radius:100%;
    text-align: center;
}

.aboutMeText{
    padding:15px;
     color: #777;
    font-family: Lora;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0px;
    text-transform: none; 
}

.followUs li{
    margin-bottom: 7px;
    padding-bottom: 7px;
    text-align: center;
    width: 32.2222%;
    display: inline-block;
    padding: 0;
    list-style: none;
}

.followUs a{
    margin: 20px auto 0 auto;
    text-transform: uppercase;
    font-size: 10px;
    color: #646464;
}

.followUs i {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    color: #fff;
    background-color: #000;
    display: block;
}

.post-share{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    background: url(http://1.bp.blogspot.com/-RaxSFprHuWw/U-eh4Hd6OgI/AAAAAAAAAP0/sijBcrNVTjo/line.gif) repeat-x center center;
}

.post-share a{
    display: inline-block;
    color: #646464;
}

.share-box {
    width: 55px;
    height: 42px;
    background: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    line-height: 42px;
    margin: 0 10px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.share-box i {
    font-size: 14px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gallery, .events{
    margin-top : 30px;
}

