.logo{
    border-bottom: 1px solid gray;
}

.article{
    text-align: center;
}


.category p{
    height:16px;
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    color: #aaa;
    font-family: 'Bad Script', cursive; 
}
.title a{
    text-align: center;
    text-decoration: none;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
};

.title a:hover {

    opacity: 0.50;
}

.date{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    margin-right: 5px;
    font-size: 11px;
    font-family: Lora;
}

.body{
    text-align: justify;
    color: #777;
    font-family: Lora;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0px;
    text-transform: none;
}


.text-center {
    text-align: center;
}

.image{
    float: left;
    margin-bottom: 18px;
    width: 770px;
    height:444px;

}

.readMore{
    border-bottom: 1px solid gray;
}

.readMoreBtn {
    margin-top: 10px;
    margin-bottom: 30px;
}

.categories-widget{
    margin-top: 30px;
    width: 250px;
    margin-right: 0;
    float: none;
    margin-bottom: 30px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34,34,34,0.1);
}

.categories-widget h2 span{
  
}

.sumCategories{
    list-style: none;
}


